<a href="https://colab.research.google.com/github/UDIT9777/Python-new/blob/udit/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
password=""

In [2]:
while password != "Micky":
  password = input("Enter Pass:ZZZZZ")
print("granted")

Enter Pass:ZZZZZggg
Enter Pass:ZZZZZsss
Enter Pass:ZZZZZMicky
granted

In [3]:
if True:
    print("Indented")
    print("Still inside if")
print("Outside if")

Indented
Still inside if
Outside if

In [6]:
fruits = ["apple", "banana", "cherry",'99']
print(fruits)
print(fruits[0])   # Access first item (indexing starts at 0)
fruits.append("orange")  # Add new item
print(fruits)

['apple', 'banana', 'cherry', '99']
apple
['apple', 'banana', 'cherry', '99', 'orange']

In [7]:
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)
print(person["name"])
person["age"] = 26  # Update value
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Alice
{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [10]:
List=[1,2,2,3,4]
Tuple=(3,2)
print(List,Tuple)

[1, 2, 2, 3, 4] (3, 2)

In [ ]:
dict
sets

In [9]:
print(Dict)

(range(0, 3), range(0, 2))

In [11]:
user = {"username": "mike", "email": "mike@example.com"}
print(user.get("username"))
user["email"] = "new@example.com"
user["location"] = "India"
print(user)
print(user.keys())

mike
{'username': 'mike', 'email': 'new@example.com', 'location': 'India'}
dict_keys(['username', 'email', 'location'])

In [2]:
def operations(a, b):
    return a * b, a + b

sum_result, product_result = operations(2, 3)
print("Sum:", sum_result)
print("Product:", product_result)

Sum: 6
Product: 5

In [3]:
name = "Python"

def say_name():
    print("Inside:", name)

say_name()
print("Outside:", name)

Inside: Python
Outside: Python

In [6]:
fruits = ["apple", "banana", "cherry","A", "B"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry
A
B

In [7]:
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 cherry
3 A
4 B

In [8]:
person = {"name": "Alice", "age": 30}

for key in person:
    print(key, ":", person[key])

name : Alice
age : 30

In [9]:
student = {"id": 101, "name": "John", "grade": "A"}
for k, v in student.items():
    print(f"{k}: {v}")

id: 101
name: John
grade: A

In [2]:
import math

In [3]:
from math import sqrt

In [4]:
print(math.pi)

3.141592653589793

In [6]:
import random

number = random.randint(1, 100)
print(f"You got: {number}")

You got: 5

In [8]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.4.26)

In [9]:
import requests

res = requests.get("https://api.github.com")
print(res.status_code)

200